@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-alert-100: var(--alert-100);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-positive-50: var(--positive-50);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-50: var(--neutral-50);
  --font-sans: var(--font-sans);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: #0a0a0a;
    --foreground: #fafafa;
    --alert-100: #2b1921;
    --destructive: #db2777;

    --brand-50: #daff73;
    --brand-100: #c0e952;
    --brand-200: #1c2011;
    --brand-300: #13150e;
    --positive-50: #10b981;
    --neutral-900: #171717;
    --neutral-800: #262626;
    --neutral-600: #404040;
    --neutral-500: #737373;
    --neutral-50: #fafafa;
    --font-sans: "Inter", sans-serif;
  }
}

@layer utilities {
  body {
    font-family: var(--font-sans);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
